.fa-stack[data-count]:after{
    position:absolute;
    right:14%;
    top:10%;
    content: attr(data-count);
    font-size:30%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: #fff;
    background:rgba(255,0,0,1);
    text-align:center;
    min-width:2em;
    font-weight:bold;
  }
  .file-text {
    margin-top: .2em;
    color: red;
  }
  
  .fa-5x {
    font-size: 3em;
}
  .fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 1.5em;
}
.vertical-line{

    
        border-left: 2px solid #000;
        display: inline-block;
        height: 30px;
        margin: 0 20px;
      
}
#cc{
    height:50px;
}
nav ul li
{
 margin:0 10px; 
}
#hh {
    vertical-align: middle;
    margin: -12px;}
.d-flex{
    margin-right: 551px;
}
.sll{
    position: absolute;
    top: 405px;
    margin-left: -1185px;
}
.ik{
    border:0rem solid;
    
}
.container2{
  background-color: rgb(218, 229, 250);
}